body
{
    background-size: cover;
}


h3
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: lightgreen;
}

canvas 
{
    animation-name: code;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes code
{
    0% {box-shadow: 8px 8px 38px red;}
    25%  {box-shadow: 8px 8px 38px orange;}
    50%  {box-shadow: 8px 8px 38px yellow;}
    75%  {box-shadow: 8px 8px 38px green;}
    100%  {box-shadow: 8px 8px 38px blue;}
}
